.footer-clean {
  padding:50px 0;
  color:#fff;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

/* Adjust navbar styles to look more like Discord */
.navbar {
    background-color: #36393f; /* Discord dark theme background color */
    border-bottom: 1px solid #2f3136; /* Discord dark theme border color */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #8a2be2; /* Purple color */
}

.navbar-nav .nav-link {
    color: #b9bbbe; /* Discord dark theme text color */
}

.navbar-toggler-icon {
    background-color: #b9bbbe; /* Discord dark theme text color */
}

.navbar-toggler {
    border-color: #6e767e; /* Discord dark theme border color */
}

.navbar-toggler:focus {
    outline: none;
}

/* Adjust text color for better visibility */
.section-info h1,
.section-info p {
    color: #fff; /* White text color */
}

.section-info a.btn {
    background-color: #7289da; /* Discord brand color */
    border-color: #7289da; /* Discord brand color */
}

.section-info a.btn:hover {
    background-color: #677bc4; /* Discord brand color (darkened) */
    border-color: #677bc4; /* Discord brand color (darkened) */
}


.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}
hr {
  border: 1px solid aqua;
  margin: 1rem;
  opacity: .25;
}
.card {
  background-color: #2a2d31;
  color: #2a2d31;
  margin-left: 9px;
}

::-webkit-scrollbar {
	width: 10px;
	color: #9432f6;
}

::-webkit-scrollbar-track {
	background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
	background: #5b10f0;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background: #5b10f0;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(219, 219, 219);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(219, 219, 219);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgb(219, 219, 219);
}
